html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

@media screen and (max-width: 640px) {
    body {
        text-rendering: optimizeLegibility;
        background-color: #FAFAFA;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        font-weight: 300;
        text-align: center;
        color: #8B8B8B;   
    }

    .kontejner {
        width: 500px;
        margin-left: auto;
        margin-right: auto;
        border: 2px solid #407BFF1F;
        padding: 60px 20px 60px 20px;
    }

    h1, h2 {
        font-weight: 500;
        color: #000000;



    }
    h1 {
        font-size: 28px;
        text-align: center;
        margin-top: 40px;
        margin-bottom: 10px;
    }

    h2 {
        margin-top: 60px;
    }

    hr {
        color: #407BFF;
        margin-left: 200px;
        margin-right: 200px;
    }

    .hlavni-obrazek {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .specializace {
        margin-top: 30px;
    }

    .planovani,
    .delegati {
        margin-top: 15px;
    }

    .specializace,
    .planovani,
    .delegati {
        margin-bottom: 30px;
    }

    .tlacitka {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .tlacitko {
        border-radius: 20px;
        padding: 11px 30px;
        text-decoration: none;
        color: #FFFFFF;
        font-size: 14px;
    }

    .dobrodruzstvi {
        border: 1px solid #407BFF;
        background-color: #407BFF;
        margin-bottom: 10px;
        
    }

    .pohoda {
        border: 1px solid #8B8B8B;
        background-color: #8B8B8B;
        margin-bottom: 60px;
    }

    .zajezdy,
    .exotika,
    .letenky,
    .vylety,
    .objednavka,
    .pronajem {
        display: flex;
        border: 1px solid #407BFF1F;
        margin-bottom: 15px;
        border-radius: 10px;
        background-color: #FFFFFF;
        box-shadow: 0px 4px 6px #407BFF1F;
    }

     
    .mapa,
    .kaktus,
    .letadlo,
    .palma,
    .slunecnik,
    .karavan {
        margin: 20px 30px 20px 20px;
    }

    .karticky1 p,
    .karticky2 p {
        font-size: 13px;
        text-align: left;
        font-weight: 300;
        margin-top: auto;
        margin-bottom: auto;
    }


 
}

@media screen and (min-width: 640px) {
    body {
        text-rendering: optimizeLegibility;
        background-color: #FAFAFA;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        font-weight: 300;
        text-align: center;
        color: #8B8B8B;   
    }

    h1, h2 {
        font-weight: 500;
        color: #000000;
    }

    h1 {
        font-size: 28px;
        text-align: center;
        margin-top: 40px;
        margin-bottom: 10px;
    }

    h2 {
        font-size: 16px;
        margin-top: 80px;
        margin-bottom: 17px; 
    }

    hr {
        color: #407BFF;
        margin-left: 320px;
        margin-right: 320px;
    }


    .kontejner {
        max-width: 768px;
        margin-left: auto;
        margin-right: auto;
        border: 2px solid #407BFF1F;
        padding: 60px 20px 60px 20px;
    }

    .karticky1,
    .karticky2 {
        display: flex;
        justify-content: space-between;
    }

    .hlavni-obrazek {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .planovani,
    .delegati {
        margin-bottom: 40px;
    }

    .specializace,
    .planovani,
    .delegati {
        max-width: 550px;
        margin: 30px 109px;
    }

    .tlacitko {
        display: inline-block;
        border-radius: 20px;
        padding: 11px 30px;
        text-decoration: none;
        color: #FFFFFF;
        font-size: 14px;
    }

    .dobrodruzstvi {
        border: 1px solid #407BFF;
        background-color: #407BFF;
        margin-bottom: 10px;
        
    }

    .pohoda {
        border: 1px solid #8B8B8B;
        background-color: #8B8B8B;
        margin-bottom: 60px;
        
    }

    .zajezdy,
    .exotika,
    .letenky,
    .vylety,
    .objednavka,
    .pronajem {
        max-width: 230px;
        border: 1px solid #407BFF1F;
        border-radius: 10px;
        background-color: #FFFFFF;
        box-shadow: 0px 4px 6px #407BFF1F;
        padding: 45px 15px;
    }

     
    .mapa,
    .kaktus,
    .letadlo,
    .palma,
    .slunecnik,
    .karavan {
        margin: 0 40px 20px 40px;
    }

    .karticky1 p,
    .karticky2 p {
        font-size: 13px;
        text-align: center;
        font-weight: 300;
        margin-top: auto;
        margin-bottom: auto;
    }

}

@media screen and (min-width: 1100px) {
    .kontejner {
        max-width: 100%;
    }

    .horni-cast,
    .prostredni-cast,
    .dolni-cast {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1040px;
        margin-left: auto;
        margin-right: auto;

    }

    .horni-cast,
    .prostredni-cast {
        flex-direction: row-reverse;
        margin-bottom: 80px;

    }

    .prostredni-cast,
    .dolni-cast {
        gap: 60px;
    }

    .prostredni-cast-popis,
    .dolni-cast-popis {
        text-align: left;
    }

    .dolni-cast-popis {
        max-width: 430px;
    }

    .happy-travels,
    header {
        width: 490px;
    }

    .happy-travels {
        text-align: left;  
    }

    .hlavni-obrazek {
        max-width: 425px;
        margin-right: auto;
        margin-left: auto;
    }

    h1 {
        text-align: left;
        margin-top: 73px;
    }

    hr {
        margin-left: 0;
        margin-right: 420px;
    }

    .prostredni-cast-popis h2 {
        margin-bottom: 17px;
        margin-top: 0; 
    }

    .tlacitko {
        margin-right: 20px;
        margin-top: 30px;
    }

    .zajezdy,
    .exotika,
    .letenky,
    .vylety,
    .objednavka,
    .pronajem {
        border: 1px solid #407BFF1F;
        border-radius: 10px;
        background-color: #FFFFFF;
        box-shadow: 0px 4px 6px #407BFF1F;
        padding: 40px 15px;
        margin-right: 20px;
        
    }

    .karticky1 p,
    .karticky2 p {
        font-size: 13px;
        text-align: center;
        font-weight: 300;
        margin: 0;
    }
    
    .planovani,
    .delegati,
    .specializace {
        text-align: left;
        margin: 0;


    }
    .planovani {
        width: 430px;
    }


    .delegati {
        margin-right: 60px;
    }

    .specializace {
        margin-left: 0;
        max-width: 488px;
    }

    .karticky1,
    .karticky2 {
        width: 550px;
    }

    .karticky2 {
        margin-top: 80px;    
    }



    
}
